.tl-search {
    display: flex;

    input[type=search] {
        @extend .govuk-input;
        /*border: none;
        flex-grow: 1;
        padding-left: 10px;
        color: $govuk-text-colour;*/
        &:focus {
            box-shadow: none;
            z-index: 1;
        }
    }

    input[type=submit] {
        width: 100px;
        background-color: $govuk-link-colour;
        border: none;
        cursor: pointer;
        text-indent: -5000px;
        overflow: hidden;
        height: 40px;
        width: 40px;
        background-image: govuk-image-url("searchicon.png");
        background-repeat: no-repeat;
        background-position: 2px 50%;
        position: relative;
        left: -2px;

        &:focus {
            outline: 3px solid $govuk-focus-colour;
            outline-offset: 0;
            z-index: 1;
        }


        &:hover {
            background-color: lighten($govuk-text-colour, 7%);
        }
    }

    &--home {
        input[type=submit] {
            background-color: $govuk-text-colour;
            left: 0px;
        }

        input[type=search] {
            border: none;
            flex-grow: 1;
            padding-left: 10px;
            color: $govuk-text-colour;

            &:focus {
                box-shadow: none;
                z-index: 1;
            }
        }
    }
}

.tl-search--results--list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 25px 0;
        border-top: 1px solid $govuk-border-colour;
    }

    .tl-search--results--body {
        margin: 0;

        em {
            font-weight: bold;
            font-style: normal;
        }
    }

    .tl-search--results--category {
        @extend .govuk-caption-m;
        @include govuk-responsive-margin(1, "bottom");
        @include govuk-font($size: 16, $weight: normal);
    }

    .tl-search--results--link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
