<footer class="govuk-footer">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>

                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">

                        <a class="govuk-footer__link" id="tl-footer--contact" href="mailto:support.deliveringtlevels@education.gov.uk">
                            Contact us
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">

                        <a class="govuk-footer__link" id="tl-footer--accessibility" href="/hc/en-gb/articles/360014613439/">
                            Accessibility
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" id="tl-footer--cookies" href="/hc/en-gb/articles/360014564200/">
                            Cookies
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" id="tl-footer--terms" href="https://www.gov.uk/help/terms-conditions">
                            Terms and conditions
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" id="tl-footer--privacy" href="https://www.gov.uk/government/publications/esfa-privacy-notice">
                            Privacy notice
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>



